@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work Sans');

html,body {
    font-family: 'Roboto Condensed', sans-serif;
}
*{
	font-family: 'Roboto Condensed', sans-serif;
}

.red {
	font-family: 'Roboto Condensed', sans-serif;
	color: rgb(186, 32,42);
	font-size: 14px;
}

.blue {
	font-family: 'Roboto Condensed', sans-serif;
	color: rgb(13,92,145);
	font-size: 14px;
}

.well{
	border-radius: 0px;
	border: 0;
	background: white;
}
.Operators{
	margin-top: 50px;
}
/*-----------логотип-----------------*/
.logoslog > ul{
	list-style-type: none;
}

.logoslog > ul > li:first-child{
	margin-left: 0;
}

.logoslog > ul > li:last-child{
	margin-right: 0;
}

.logoslog > ul > li a:hover{
	opacity: 0.7;
}

/*--------------соцсети-----------------*/
.socialIcons > ul  {
	list-style-type: none;
}

.socialIcons > ul > li {
	display: inline-block;
	margin: 0 5px;
}

.socialIcons .fa{
	font-size: 32px;
}

/*---------------телефоны, язык-----------------*/
.green{
	color: green;
}

.phone{
	font-family: 'Roboto Condensed', sanf-serif;
	text-align: right;
	display: inline-block;
}

.phone > ul{
	list-style-type: none;
}

.phone > ul > li{
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 18px;
	display: inline;
	margin-right: 40px;
}

.phone> ul> li:last-child{
	margin-right: 0;
}

.headContacts > phone > ul > li  span{
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 18px;
}

.lang{
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 18px;
	color: rgb(13,92,145);
	/*padding-top: 10px;*/
	text-align: right;
}
.lang > a> img {
	vertical-align: sub;
}

/*---------Navigation--------------*/
.navigation{
	text-align: center;
}
.navigation > ul > li > a{
	font-family: 'Roboto Condensed';
}
.nav > li{
	display: inline-block;
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 14px;
	text-transform: uppercase;
	margin-right: -4px;
}

.nav > li > a{
	color: rgb(0,0,0);
	font-family: 'Roboto Condensed, sans-serif';
}

/*---------------Carousel-----------------------------*/
.carousel{
	/*margin-top: 30px;*/	
}

.carousel-caption {
    right: 50%;
    left: auto;
	max-width: 300px;
	font-weight: bold;
    text-align: left;
    /*font-size: 42px !important;*/
    /*font-family: arial;*/
}
.carousel-inner{
	/*overflow: hidden;*/
}

.carousel-inner img {
  height: auto;
  /*max-height: 420px;*/
  width: 100%; 
}

/*	
.carousel {
  height: 400px !important;
  overflow: hidden;
  margin-top: -20px;
}
.carousel-inner {
  overflow: visible;
}
.carousel-inner img {
  left: 50%;
  max-width: none !important;
  min-height: 400px;
  min-width: 100%;
  position: absolute;
  top: 200px;
  transform: translate(-50%,-50%);
}
*/
/*--------------//Carousel-----------------------*/

/*-----------Tours search-------------*/
.tours > h3, .hero-unit> h3{
	text-transform: uppercase;
	font-family: 'Roboto Condensed, sans-serif';
	/*text-align: center;*/
	font-size: 16px;
}

.tours > p{
	
}

.container .jumbotron, .container-fluid .jumbotron{
	border-radius: 0px;
	/*padding-top: initial;*/
}

.margTop{
	margin-top:-20px;
}

.name, .tours >.name, .tours > p, .row> .jumbotron>.row>p, .row>p{
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 20px;
	text-align: center; 
	text-transform: uppercase;
}
/*----------cards services--------*/
.card>h4{
	font-family: 'Roboto Condensed, sans-serif';
	text-align: center; 
	text-transform: uppercase;
}
.card>h4>a{
	color: black;
}
.card img{
	 -moz-transition: all 1s ease-out;
	 -o-transition: all 1s ease-out;
	 -webkit-transition: all 1s ease-out;
}
.card img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }
/*----------///cards services--------*/
.thumbnail {
	margin-right: -30px;
	border: 0px;
}

.thumbnail a > img, .thumbnail > img {
	width: -moz-available;
}

.row  .chTour > p{
	padding: 80px 80px;
	border: 1px solid grey;
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 18px;
	text-transform: capitalize;
}

.container > .AboutUs{
	/*border-right: 1px solid #e3e3e3;*/
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 16px;
}

.Advantages{
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 16px;
}

.Advantages > ul{
	list-style-type: none;
}

.tourOperators{
	list-style-type: none;
	text-align: center;
}

.tourOperators > li{
	display: inline;
	padding-right: 50px;
	
}

.row > .well  > .navigation > ul > li > a:hover{
		background: none;
}

.row > .well > .footer-contacts{
	font-family: 'Roboto Condensed, sans-serif';
	font-size: 12px;
	text-align: center;
}

.logo-small {
      color: #f4511e;
      font-size: 50px;
}
/*---------newHeader---------------------*/
	.topbar {
    min-height: 25px;
    padding: 0 3%;
	font-family: 'Work Sans',sans-serif;
    font-size: 12px;
	position: relative;
	/*height: 20px;
	line-height: 20px;*/
}
.navbarwrap {
    display: block;
    max-width: 1100px;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
}
.topleft {
    float: right;
	font-family: 'Work Sans',sans-serif;
	font-size: 12px;
	/*line-height: 20px;*/
	/*display: flex;
	align-items: center;*/
}
.topbar>.navbarwrap .langSel {
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
	float: right;
	font-family: 'Work Sans',sans-serif;
	/*margin-top: 5px;*/
}
.topbar > .navbarwrap .langSel>a>img {
	margin-right: 3px;
}
.socialblock {
    margin-right: 25px;
    float: right;
	/*margin-top: 5px;*/
}
.socialblock >a{
    margin-right: 15px;
}
.topbar > .navbarwrap .socialblock>a>i{
	font-size: 22px;
}
.phoneblock{
	float: right;
	display: inline-block;
	margin-right: 15px;
	float: right;
	/*line-height: 34px;*/
	/*margin-top: 5px;*/
}
.phoneblock>ul{
	list-style-type: none;
}
.phoneblock>ul>li{
	float: right;
	display: inline-block;
	margin-right: 15px;
	float: left;
	/*line-height: 34px;*/
	line-height: 20px;
}
.topbar > .navbarwrap .phoneblock>ul>li>span{
	font-family: 'Work Sans',sans-serif; 
	color: #333; 
	font-size: 12px; 
}
/*------///newHeader--------------------*/
/*------carousel fonts------------------*/
@media only screen and (min-width: 450px) {
	.carousel-caption {
    font-size: 12px !important;
	}
}

@media only screen and (min-width: 768px) {
	.carousel-caption {
    font-size: 24px !important;
	}
}

@media only screen and (min-width: 1000px) {
	.carousel-caption {
    font-size: 42px !important;
	}
}
/*------///carousel fonts------------------*/